<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Cinder.Properties.Settings>
            <setting name="MonitoringServer" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="ReleaseManagerServer" serializeAs="String">
                <value>test</value>
            </setting>
        </Cinder.Properties.Settings>
        <WindowsFormsApplication4.Properties.Settings>
            <setting name="MonitoringServer" serializeAs="String">
                <value>AB0DBG040P</value>
            </setting>
            <setting name="ReleaseManagerServer" serializeAs="String">
                <value>HLSDBAMON01T</value>
            </setting>
        </WindowsFormsApplication4.Properties.Settings>
    </userSettings>
</configuration>